Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #667eea, #887c94);
   
}

/* Register Card */
.container {
    width: 350px;
    padding: 30px;
    background: white;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}

/* Heading */
.container h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: #f1f1f1;
    outline: none;
    transition: 0.3s;
}

/* Input Focus Effect */
input:focus {
    border: 2px solid #667eea;
    background: #fff;
}

/* Register Button */
.registerBtn {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background: #667eea;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

/* Hover Animation */
.registerBtn:hover {
    background: #5a67d8;
    transform: scale(1.05);
}

/* Smooth Card Animation */
.container {
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Sign In Box */
.signin-box {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ccc;
}

/* Text */
.signin-box p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

/* Sign In Button */
.signinBtn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: transparent;
    border: 2px solid #667eea;
    color: #667eea;
    cursor: pointer;
    transition: 0.3s;
}

/* Hover Effect */
.signinBtn:hover {
    background: #667eea;
    color: white;
}